.div-calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 15px;
}

.div-screen {
    height: 20px;
    width: 270px;
    background: rgb(234, 230, 230);
    border-radius: 6px;
    padding: 16px;
    text-align: right;
}

.span-screen {
    font-size: 25px;
    font-family: Courier;
    font-weight: bold;
    width: 207px;
    background-color: rgb(234, 230, 230);
    height: 30px;
    font-size: 25px;
    color: black;
    text-align: right !important;
    padding: 5px;
    margin: 5px;
}

.table-keyboard {
    height: 25px;
    width: 300px;
    padding: 10px;
    background: rgb(234, 230, 230);
    border-radius: 6px;
    text-align: center;
}

.tr-keyboard {
    text-align: center;
}

.td-keyboard {
    text-align: center;
}

.span-keyboard {
    font-size: 25px;
    font-family: Courier;
    font-weight: bold;
}

.button-keyboard {
    background: rgb(38, 41, 41);
    color: white;
    border-radius: 6px;
    border-color: aliceblue;
    font-size: 25px;
    padding: 20px;
    margin: 3px;
    cursor: pointer;
}