.body-calculator {
    background-color: rgb(38, 41, 41)
}



.div-calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(38, 41, 41);
    padding: 15px;
}