.table-keyboard {
    height: 25px;
    width: 350px;
    background: rgb(234, 230, 230);
    border-radius: 6px;
    padding: 10px;
}

.tr-keyboard {
    text-align: center;
}

.span-keyboard {
    font-family: Courier;
    font-size: 25px;
    font-weight: bold;
}

.button-keyboard {
    height: 100px;
    width: 80px;
    background: rgb(38, 41, 41);
    color: white;
    border-radius: 6px;
    border-color: aliceblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 3px;
}