.div-screen {
    height: 20px;
    width: 320px;
    background: rgb(234, 230, 230);
    border-radius: 6px;
    text-align: right;
    padding: 15px;
}

.span-screen {
    font-family: Courier;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}